/* Edited for Manor Theme */

.facets-facet-browse-category-cells-container {
		display: flex;
    margin: $sc-margin-lv4;
    flex-wrap: wrap;
		justify-content: center;
}

.facets-category-cell {
    text-align: center;
    width: $sc-subcategory-width;
    flex-basis: $sc-subcategory-width;
    text-align: center;
    margin-bottom: 30px;
    margin-right: $sc-subcategory-margin-right;

    @media (min-width: $screen-sm-min) {
        width: $sc-subcategory-desktop-width;
        flex-basis: $sc-subcategory-desktop-width;
        margin-bottom: 40px;
        margin-left: $sc-subcategory-desktop-margin-left;
        margin-right: $sc-subcategory-desktop-margin-right;
    }
}

.facets-category-cell-image {
	// width: 100%;
	// height: auto;
}

.facets-category-cell-image:hover,
.facets-category-cell-anchor:hover .facets-category-cell-image {
    opacity: 0.8;
    //transition: opacity 0.75s;
	//-webkit-transition: opacity 0.75s;
}

.facets-category-cell-title { /*caption*/
    width: 100%;
    text-align: center;
    font-family: $sc-theme-secondary-font;
    font-size: $sc-font-size-xl;
    text-transform: uppercase;
    color: $sc-color-copy-dark;
    font-weight: $sc-font-weight-normal;

    a:hover & {
        color: $sc-color-copy;
    }
}

