/* Edited for Posh Theme */

.item-cell {
	margin-bottom: $sc-margin-lv3;
}

.item-cell-link-image {
	height:250px;
	line-height:250px;
}

.item-cell-image {
	vertical-align:middle;
}

.item-cell-title {
    @extend .xsmall-title-navigable;
    // line-height: 1;
	padding: $sc-padding-lv2 0 0;
    display: block;
    text-transform: uppercase;
	text-align: left;
	font-weight: $sc-font-weight-semibold !important;
	min-height: 75px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.item-cell-price {
	@extend .small-price;
	text-align: left;
}

.item-cell-rate {
	text-align: left;
}

.item-cell-rate-filled {
	@extend .icon-star-filled;
}

.item-cell-rate-empty {
	@extend .icon-star;
}

///////////////////////////////////////////////////////////////
//Quick view

.item-cell-image-wrapper {
	position: relative;
}

.item-cell-quick-view-wrapper {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	//top: 45%;
	bottom: 0;
}

.item-cell:hover .item-cell-quick-view-wrapper {
	@media (min-width: $screen-md-min) {
		display: block;
	}
}

.item-cell-quick-view-link {
	@extend .button-secondary;
    @extend .button-medium;
	width: 100%;
}

.icon-cell-quick-view-icon {
	@extend .fa;
	@extend %fa-search;
}

