/* Edited for Posh Theme */

// Pagination
//
// Pagination is used to navigate between lists of products or records.
// Pagination is generally accompanied by a results counter.
//
// Markup:
// <nav>
//   <p class="pagination-count">1-12 of 37 results</p>
//   <ul class="pagination-links">
//     <li class="pagination-prev">
//       <a href="#">
//         <i class="icon-chevron-left"></i>
//       </a>
//     </li>
//     <li><a href="#">1</a></li>
//     <li><a class="pagination-active" href="#">2</a></li>
//     <li><a href="#">3</a></li>
//     <li><a href="#">...</a></li>
//     <li><a href="#">9</a></li>
//     <li><a href="#">10</a></li>
//     <li class="pagination-next">
//       <a href="#">
//         <i class="icon-chevron-right"></i>
//       </a>
//     </li>
//   </ul>
// </nav>
//
// Styleguide 3.6

.pagination-links {
    @extend .clearfix;
    float: right;
    width: 50%;
    text-align: right;
    padding: $sc-padding-lv1 0;

    @media (min-width: $screen-sm-min) {
        float: none;
        width: 100%;
        display: flex;
        justify-content: center;
    }

	li {
        float: left;
        // display: inline-block;
		// height: $sc-target-size;
		// width: $sc-target-size;
		text-align: center;
	}

	a {
		display: block;
		text-decoration: none;
        padding: $sc-padding-lv1 $sc-padding-lv2;
		// height: $sc-target-size;
		// line-height: $sc-target-size;
	}
}

.pagination-count {
    float: left;
    width: 50%;
    text-align: right;
	padding: $sc-padding-lv2 $sc-padding-lv4;    
    
    @media (min-width: $screen-sm-min) {
        float: none;
        width: auto;
        text-align: center;
    }
}

.pagination-links-number {
	display: none;
	// background-color: $sc-color-theme-background;

	@media (min-width: $screen-md-min) {
		display: block;
	}
}

.pagination-prev,
.pagination-next {
    color: $sc-color-copy !important;
	// background-color: $sc-color-theme-background;

	a:hover{
		// background-color: $sc-color-theme-background;
	}
}

.pagination-prev,
.pagination-prev-disabled {}

.pagination-next,
.pagination-next-disabled {
	margin-left: $sc-margin-lv1;

	@media (min-width: $screen-md-min) {
		margin-left: 0;
	}
}

.pagination-disabled,
.pagination-prev-disabled,
.pagination-next-disabled {
	display:none;
}

.pagination-active {
	color: $sc-color-copy !important;
	cursor: default;

	&:hover{
		color: $sc-color-copy;
	}
}
