.home-slider-container {
  margin-bottom: 2.81rem;
  margin-left: 0;
  margin-right: 0;

  @extend .row;

  // This block is only added if the slide have captions
  .caption-on {
    //making the sliders visible/hidden individually
    .home-slide-caption-container {
      &.caption-display {
        display: block;
        @media (min-width: $screen-sm-min) {
          display: flex;
          display: -ms-flexbox;
        }
      }
    }
  }

  .home-image-slider {
    position: relative;

    .bx-wrapper {
      @media (min-width: $screen-sm-min) {
        margin-bottom: $sc-margin-lv4;
      }
      .bx-viewport {
        height: 510px !important;
        border-radius: 0 0 20px 20px;
        @media (max-width: 1400px) {
          height: 480px !important;
        }
        @media (max-width: 1200px) {
          height: 415px !important;
        }
        @media (max-width: 992px) {
          border-radius: inherit;
        }
        @media (max-width: 767px) {
          height: 530px !important;
        }
        @media (max-width: 520px) {
          height: 460px !important;
        }

      }
      .home-slide-main-container .home-slide-image-container {
        overflow: hidden;
        height: auto;
        text-align: center;

        background-size: 0%;

        @media (min-width: $screen-sm-min) {
          background-size: cover;
          background-position: center center;
        }

        //slider image
        .home-slide-wrap-link{
          width: 100%;
        }
        img {
          margin: auto 0;
          height: 100%;
          min-width: auto;
          max-width: 100%;

          float: none;
          width: 100% !important;
          margin: 0 auto -6px !important;
          min-height: 50px;
          opacity: 1;

          @media (min-width: $screen-sm-min) {
              max-width: none;
              min-width: 1200px;
          }

          @media (min-width: $screen-md-min) {
              opacity: 0;
          }

          //class for emulate the background behaviour, controlling crop sides
          &.backgrounded-left {
             min-width: 1200px !important;
             float: left;
          }
          &.backgrounded-right {
            min-width: 1200px !important;
            float: right;
          }


        }

        &.use-image {
          img {
            min-width: auto;
          }
          @media (max-width: $screen-sm-min) {
            background-image: none !important;
          }
          @media (min-width: $screen-md-min) {
            img {
              opacity: 0;
            }
          }
        }

        &.left {
          @media (min-width: $screen-sm-min) {
            background-image: none !important;
            img {
              min-width: 1200px !important;
              float: right;
              opacity: 1;
            }
          }
        }
        &.right {
          @media (min-width: $screen-sm-min) {
            background-image: none !important;
            img {
              min-width: 1200px !important;
              float: left;
              opacity: 1;
            }
          }
        }
        &.centered {
          @media (min-width: $screen-sm-min) {
            img {
              min-width: 1200px !important;
              float: left;
              opacity: 0; //important for mantain the right height in the slider
            }
          }
        }

        //added for mobile image
        .home-slide-image-mobile {display: none;}
        .hide-small {display: block;}

         @media (max-width: $screen-xs-max) {
             .hide-small {
               display: none;
             }
             .home-slide-image-mobile {
               display: block;
             }
         }
      }

    }
  }


  // pager and controls -------

  .home-image-slider {
    .bx-controls {
      .bx-pager {
        padding-top: 15px;
        text-align: center;
        
        @media screen and (min-width:1500px) {
          margin-left: 60px;
          text-align: left;
        }
        @media (min-width: $screen-md-min) {
            padding-top: 0;
            position: absolute;
            width: 100%;
            bottom: 0;
        }

        .bx-pager-item {
            vertical-align: middle;
        }
        .bx-pager-item{border:1px solid transparent; padding:8px 0;border-radius: 100%;}
        .bx-pager-item:has(.bx-pager-link.active) {
          border-color: #FFF;
        }
      }
    }

  }

  .home-image-slider .bx-controls,
  .home-image-slider .bx-controls .bx-pager {
      margin-top: 0;
      @media (min-width: $screen-sm-min) {
        margin-top: $sc-margin-lv2;
      }
  }

  // Prev and Next arrows
  .home-gallery-prev-icon,
  .home-gallery-next-icon {
      display: $sc-home-carousel-icons-display;
      position: absolute;
      top: 50%;
      // width: 60px;
      // height: 60px;
      width: 67px;
      height: 67px;
      // font-size: 40px;
      font-size: 30px;
      text-align: center;
      // color: $sc-home-carousel-icons-color-desktop;
      color: $sc-color-12;
      border: 2px solid $sc-color-12;
      // line-height: 55px;
      line-height: 35px;
      z-index: 10;
      background: white;
      border-radius: 50%;
      transform: translateY(-50%);
      @media (max-width: $screen-sm-min) {
          display: $sc-home-carousel-icons-display;
          color: $sc-home-carousel-icons-color-mobile;
          padding: 0 10px 5px;
      }
      @media (max-width: 991px) {
        top: 100%;
        transform: translateY(-100%);
        width: 45px;
        height: 45px;
      }
  }
  .home-gallery-next-icon {
    &::before {
          content: '';
          background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="19.55" height="39.043" viewBox="0 0 19.55 39.043"><path id="Path_881" data-name="Path 881" d="M0,0V.02l12.8,19.6L.056,39.044,19.55,19.549Z" transform="translate(0 0)" fill="%23989898"/></svg>');
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 20px;
          height: 39px;
          background-color: transparent;
          @media (max-width: 991px) {
            width: 15px;
            height: 25px;
          }
      }
      
  }

    .home-gallery-prev-icon {
    &::before {
          content: '';
          background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="19.55" height="39.043" viewBox="0 0 19.55 39.043"><path id="Path_881" data-name="Path 881" d="M19.55,0V.02l-12.8,19.6L19.495,39.044,0,19.549Z" transform="translate(0 0)" fill="%23989898"/></svg>');
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 20px;
          height: 39px;
          background-color: transparent;
          @media (max-width: 991px) {
            width: 15px;
            height: 25px;
          }
      }
  }

  .home-gallery-prev-icon {
      // left: -25px;
      
      left: 10px;
      @extend .icon-angle-left;
      @media screen and (min-width:1500px) {
        left: -35px;
      }
  }

  .home-gallery-next-icon {
      // right: -25px;
      right: 10px;
      @extend .icon-angle-right;
      @media screen and (min-width:1500px) {
        right: -35px;
      }
  }

  // Pager specifics --------

  .bx-pager-link {
      color: $sc-home-carousel-icons-color-mobile !important;
      background-color: $sc-home-carousel-icons-color-mobile !important;
      width: 18px !important;
      height: 18px !important;
      border-radius: 100% !important;
      font-size:0;
      text-indent:-9999px;

      @media (min-width: $screen-md-min) {
          color: $sc-home-carousel-icons-color-desktop !important;
          background-color: $sc-home-carousel-icons-color-desktop !important;
      }

      &.active {
        background-color: $sc-home-carousel-icons-color-mobile;

        @media (min-width: $screen-md-min) {
            background-color: $sc-home-carousel-icons-color-desktop !important;
        }
      }

  }


  // captions
  .home-slide-caption-container {
    width: 100%;
    padding: $sc-margin-lv4 $sc-margin-lv2;
    text-align: center;
    background: #FFF;
    pointer-events: none;
    display: none;

    @media (min-width: $screen-sm-min) {
        padding: 0;
        background-position-x: inherit;
        position: absolute;
        background: none;
        width: 100%;
        right: 0;
        bottom: 0;
        height: 100%;

        //Automatic vergical alignment
        justify-content: center;
        align-items: center;

        &.carousel-left-box,
        &.carousel-center-box,
        &.carousel-right-box {
            .home-slide-caption {
                background: rgba($sc-home-cta-background-color-value, 0.8)
            }
        }

        // These classes can be assigned in the Carousel configuration
        // Larger viewports only
        &.carousel-left,
        &.carousel-left-box {
            text-align: left;
            justify-content: flex-start;
            .home-slide-caption {
                margin-left: 0;
            }
        }
        &.carousel-center,
        &.carousel-center-box {
            text-align: center;
        }
        &.carousel-right,
        &.carousel-right-box {
            text-align: right;
            justify-content: flex-end;
            .home-slide-caption {
                margin-right: 0;
            }
        }



    }

    .home-slide-caption {
      //title and description

      padding: $sc-padding-lv6 $sc-padding-lv2 $sc-padding-lv3 $sc-padding-lv2;

      @media (min-width: $screen-sm-min) {
          background: none;
          margin: auto;
          width: auto;

          padding: 85px 70px 40px 65px;

          &.left {
            text-align: left;
          }
          &.right {
            text-align: right;
          }
          &.centered {
            text-align: center;
          }

      }

      @media (max-width: $screen-sm-min) {
         width: 100% !important;
      }

      .home-info-title {
          margin-bottom: calc($sc-margin-lv2 * 2);
          font-size: $sc-home-cta-title-size-mobile;
          color: $sc-home-cta-title-color;
          font-family: $sc-font-family;

          @media (min-width: $screen-sm-min){
              font-size: $sc-home-cta-title-size;
              margin-left: 0;
          }

          @media (min-width: $screen-md-min){
              margin-right: 0;
          }

          //piece for override the configurable text color in mobile only.
          @media (max-width: $screen-sm-min){
            color: #000 !important;
          }
      }
      .home-info-text {

        margin: 0 0 $sc-margin-lv4 0;
        //font-size: $sc-home-cta-title-size-mobile;
        //font-weight: $sc-font-weight-light;
        color: $sc-home-cta-text-color;
        font-family: $sc-font-family;
        margin-bottom: 30px;
        line-height: 35px;
        letter-spacing: 0;
        word-spacing: 1px;
        @media (min-width: $screen-sm-min){
            display:block;
            //font-size: $sc-font-size-xxxl;
            margin-bottom: 20px;
        }

        //piece for override the configurable text color in mobile only.
        @media (max-width: $screen-sm-min){
          color: #000 !important;
        }

      }

      // button -- This is may vary depending on the theme

      .home-slide-caption-button-container {
          position: static;
          padding-left: $sc-padding-lv4;
          padding-right: $sc-padding-lv4;
          width: 100%;
          font-family: $sc-font-family;

          @media (min-width: $screen-sm-min) {
              padding:0;
              margin-left: 0;
              margin-right: 0;
              position: relative;
              bottom: 0px;
          }

          //comented lines below can be used for enable specific button styling (developer needed)
          .home-slide-caption-button {
              @extend .button-primary;
              @extend .button-large;
              //background-color: $sc-home-carousel-button-background-color;
              //border: 1px solid $sc-home-carousel-button-border-color;
              //color: $sc-home-carousel-button-text-color;
              width: auto;
              padding: $sc-padding-lv3 $sc-padding-lv6;
              // padding: 13px $sc-padding-lv4;
              pointer-events: all;
              background: #81C240;
              border-radius: 40px;
              text-transform: capitalize;
              font-size: 16px;
              letter-spacing: 0;
              &:hover {
                  //background-color: $sc-home-carousel-button-background-color-hover;
                  //border: 1px solid $sc-home-carousel-button-border-color-hover;
                  //color: $sc-home-carousel-button-text-color-hover;
              }

              @media (max-width: $screen-xs-max) {
                  //background-color: $sc-home-carousel-button-background-color-mobile;
                  //border: 1px solid $sc-home-carousel-button-border-color-mobile;
                  //color: $sc-home-carousel-button-text-color-mobile;
                  width: auto;
              }
              // icon is not used on this theme
              /*.home-slide-button-icon {
                  @extend .icon-angle-right;
                  color: $sc-color-icon;
                  font-size: 20px;
                  font-weight: bold;
              }*/
          }

      }

    }

  }

}

